.top-home{
    background-image: url("../images/home/pexels-eduardo-dutra-2115217.jpg");
    background-position: center;
    background-size: cover;
    height: 450px;
}

.name-home{
    padding-top: 8rem;
    margin-right: 350px;
    margin-left: 350px;

}
/* .logo{

    background-image: url("../images/home/logo.jpg");
    background-position: bottom;
    background-size: cover
} */


/* BUTTON  CV*/
  .container-cv {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .container-cv a{
    color: white !important;
    text-decoration: none;
  }

  .button {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    font-weight: 600;
    background-color: #578cfd;
    padding: 15px 50px;
    margin: 0 auto;
  }
  .button span {
    position: relative;
    z-index: 1;
  }
  .button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 470%;
    width: 140%;
    background: #4b84ff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
    transform: translateX(-100%) translateY(-25%) rotate(45deg);
  }
  .button:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }


  /* HOME FORM */

  .form-home{
 
  }