.all-posts{ 
    padding: 30px;
    padding-left: 150px;
    padding-right: 150px;
}

.deleted{
    background-color: red !important;
}

.deleted:after{
    background-color: rgb(196, 4, 4) !important;
}

.create{
    background-color: rgb(4, 241, 0) !important;
}

.create:after{
    background-color: rgb(19, 233, 0) !important;
}

.all-posts:nth-child(even){ 
    background-color: rgb(241 241 241);
}

.comment{
    background-color: white;
}
.title-comment{
    text-align: center;
    font-size: xxx-large;
}

.text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}