.all-posts{
    
    margin-top: 30px;
}

.deleted{
    background-color: red !important;
}

.deleted:after{
    background-color: rgb(196, 4, 4) !important;
}

.create{
    background-color: rgb(4, 241, 0) !important;
}

.create:after{
    background-color: rgb(19, 233, 0) !important;
}