.header{
    max-width: 100%;    
    padding-left: 0px;
    padding-right: 0px;
}
.home-header{
    padding-left: 25px;
}
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #212529;
    color: #fff;
}
